.part_two {
  background: url("image (3).png");
}

#marginfix {
  background: url("title.png");
}

.my-5 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.bin:hover {
  scale: 1.5;
}

.blog {
  padding: 40px 0px 20px 0px;
}
.social {
  transition-property: all;
  transition-duration: 100ms;
  padding: 4px;
  transition-timing-function: ease-in-out;
}
.social:hover {
  scale: 1.5;
  background-color: yellow;
  padding: 5px;
  border-radius: 50% 30%;
}

.bi:hover {
  scale: 1.5;
  animation: logo 500ms ease-in-out 0s 1 forwards;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
    border-radius: 60%;
  }

  100% {
    transform: rotate(360deg);
    border-radius: 40% 52%;
    padding: 2px 3px;
  }
}

.lead .mb-4 {
  font-weight: lighter;
  color: yellow;
}

.dis {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.dis:hover {
  scale: 1.1;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.special {
    background-color: rgb(104, 104, 255);
    background-color: ;
  padding: 2px 15px;
  border-radius: 1rem;
  transition: all ease 100ms;
}

.special a {
  color: black;
}

.special:hover {
    background-color: rgb(104, 104, 255);

}

.special a:hover {
  color: black;
}

.login_box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: 100%;
}

.login_box input {
  padding: 0.5rem;
  border: white solid;
  border-radius: 0.5rem;
  width: 80%;
}

.login_box {
    color: white;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  min-width: 500px;
  width: 10vw;
  aspect-ratio: 1.2;
  margin: auto;
  background-color: rgba(102, 51, 153);
  opacity: 0;
  transition: all;
  transition-timing-function: ease;
  transition-duration: 100ms;
}

.show {
  opacity: 1;
  z-index: 5;
}

.one {
  transform: rotate(45deg);
}

.two {
  transform: rotate(-45deg);
}

.crossdiv {
  background-color: black;
  width: 3rem;
  transition: ease 100ms ;
    aspect-ratio: 5;
}

.cross {
    position: relative;
    display: flex;
    width: 100% ;
    justify-content: flex-end;
}

.anchor_signup {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: rgb(255, 255, 107);
}

.anchor_signup:hover {
    color: aqua;
}

.horizontal {
    transform: rotate(0deg);
}

@keyframes rotate-one {
    0% {
        transform: rotate(45deg);
    }
    100% {
      
        transform: scale(2);
        transform: rotate(-45deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(-45deg);
    }
    50%{
        
    }
    100% {
       
        transform: scale(2);
        transform: rotate(45deg);
    }
}

.animate-one {
    animation: rotate-one 100ms ;
    animation-timing-function:ease ;
    animation-fill-mode: forwards;
}

.animate-two {
    animation: rotate-two 100ms ;
    animation-timing-function:ease ;
    animation-fill-mode: forwards;
}

#homepage {
    color: rgb(239, 239, 234);
   
}

.my-btn1 {  
    cursor: pointer !important;
    width: 13rem; 
    margin: 0rem 2rem;
    background-color: rgb(104, 104, 255);
    padding: 1rem 2rem;
    border: black solid;
    border-radius: 1rem;
}





.my-btn2 {
    width: 13rem; 
    cursor: pointer !important;
    margin: 0rem 2rem;

    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: rgb(3, 3, 3);
    color: white;
    border: 0px solid;

}

.para {
    background-color: white;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
}

.slide {
    width: 80%;
    border-radius: 20px;
    margin: auto;
 
}

.slide h2 {
    color: black;
    padding: 10px 0px;
 
}



.slide img {
    border-radius: 20px ;
}

.my-btncolor {
    background-color: rgb(104, 104, 255) ;
    color: black;
    border: black solid;
}

.box-text {
    color: white;
    text-shadow: 4px -2px 4px black  ;
}

@media (max-width: 800px) {
    .login_box {
        scale: 0.5;
        left: 20%;
    }
}
